linkedin_email="[Your Linkedin account email]"
linkedin_password="[Your LinkedIn Password]"

llm_api_key="[Your LLM API Key]"
llm_proxy="[Your LLM Proxy in format http(s)://login:password@host:port]"

tg_token="[Your Telegram Bot Token]"
